<form id=login_form method="post" action="lib/login.php">

    <input type="hidden" id="formname" name="formname" value="login_form">


    <div class="form-group">
        <label for="usr_login" class="col-form-label">Login</label>
        <div>
            <input type="email" class="form-control" id="usr_login" name="usr_login" value="">
        </div>
    </div>

    <div class="form-group">
        <label for="usr_paswd" class="col-form-label">Wachtwoord</label>
        <div>
            <input type="password" class="form-control" id="usr_paswd" name="usr_paswd" value="">
        </div>
    </div>

    <input class="btn btn-primary" name="loginbutton" type="submit" value="Log in">

    <div class="vertical_space_10vh"></div>

    <div>

        <p>Als u nog geen account heeft, kan u hier <a href="register.php">registreren</a></p>

    </div>

</form>


