<div class="vertical_space_10vh"></div>

<div class="card" style="width: 45%; float: left;margin-right: 20px;">

    <div class="card-body">
        <h5 class="card-title">Log In</h5>
        <p class="card-text">Als u al een account heeft, kan u hier inloggen</p>
        <a href="login.php" class="btn btn-primary">Login</a>
    </div>

</div>

<div class="card" style="width: 45%; float: left;">

    <div class="card-body">
        <h5 class="card-title">Registreer</h5>
        <p class="card-text">Als u nog geen account heeft, kan u hier registreren</p>
        <a href="register.php" class="btn btn-primary">Registreer</a>
    </div>

</div>