<table class='table table-striped table-bordered'>
    <form action="lib/upload_functions_profiel.php" method="post" enctype="multipart/form-data">
        <tr>
            <td>Pasfoto</td>
            <td>
                <input type="file" name="pasfoto" id="pasfoto">
            </td>
            <td>@@img_pasfoto@@</td>
        </tr>
        <tr>
            <td>E-id voorzijde</td>
            <td>
                <input type="file" name="eidvoor" id="eidvoor">
            </td>
            <td>@@img_vz_eid@@</td>
        </tr>
        <tr>
            <td>E-id achterzijde</td>
            <td>
                <input type="file" name="eidachter" id="eidachter">
            </td>
            <td>@@img_az_eid@@</td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Opladen" name="submit">
            </td>
            <td></td>
        </tr>
    </form>
</table>
